* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(118, 172, 243);
    font-family: "Roboto", sans-serif;
}

main {
    min-height: 80vh;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
}