<%- include("./includes/head") %>
<body>
    <%- include("./includes/header") %>
    <main>
        <h2><%= locals.title ? title : null %> </h2>
    </main>
    <%- include("./includes/footer") %>
</body>
</html>